:root {
    /* Widths & Layout */
    --w-full: 100%;
    --w-section: 90%;
    --w-map: 90%;
    --w-logo: 60%;
    --w-redalert-inner: 70%;
    --w-redalert-anim-start: 0%;
    --w-redalert-anim-mid: 10%;
    --w-redalert-anim-wide: 50%;
    --w-redalert-anim-max: 100%;

    /* Font Sizes */
    --font-title: 5vw;
    --font-menu: 4vw;
    --font-banner-left: 3.5vw;
    --font-banner-right: 5vw;
    --font-track: 3vw;
    --font-address: 4vw;
    --font-redalert: 20vw;
    --one-v-w: 1vw;
    --section-margin: 10vw;

    /* Padding & Margin */
    --pad-menu: 6vw;
    --pad-banner: 2vw;
    --pad-highlight: 0.3em;
    --margin-title-bottom: 3vw;
    --margin-banner-bottom: 5vw;
    --margin-section-bottom: 10vw;
    --margin-logo: 1.5vw;
    /* Banner Track */
    --space-track: 10vw;

    /* Borders */
    --border-title: 0.3vw solid black;
    --border-menu: 0.1vw solid black;
    --border-redalert: 3vw solid white;
    --border-redalert-top: 10vw;
    --border-redalert-bottom: 10vw;

    /* Animation */
    --anim-banner-intro-duration: 5s;
    --anim-banner-loop-duration: 12s;
    --anim-redalert-duration: 2s;
    --anim-hide-this-duration: 3s;

    /* Colors */
    --color-bg-white: white;
    --color-bg-black: black;
    --color-bg-red: red;
    --color-bg-aqua: aquamarine;
    --color-bg-green: greenyellow;
    --color-text-white: white;
    --color-text-black: black;
    --color-text-red: red;
    --color-text-aqua: aquamarine;
    --color-text-green: greenyellow;

    /* Misc */
    --z-hidden: -1;
    --z-visible: 3;
    --opacity-full: 1;
    --opacity-mid: 0.7;
    --opacity-none: 0;
}

/* Typography */
.economica-regular {
    font-family: "Economica", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.economica-bold {
    font-family: "Economica", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.economica-regular-italic {
    font-family: "Economica", sans-serif;
    font-weight: 400;
    font-style: italic;
}
.economica-bold-italic {
    font-family: "Economica", sans-serif;
    font-weight: 700;
    font-style: italic;
}

/* Title */
.txt-title {
    font-size: var(--font-title);
    text-transform: uppercase;
    display: flex;
    width: 100%;
    border-bottom: 0.3vw solid black;
    margin-bottom: 3vw;
}
.highlight-w {
    background-color: white;
    color: black;
    padding: 0 0.3em;
}
.highlight-b {
    background-color: black;
    color: white;
    padding: 0 0.3em;
}

/* Layout */
body {
    font-family: "Economica", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    position: relative;
    justify-content: center;
    align-items: center;
}
.body-container {
    width: 100%;
    height: 100%;
    position: relative;
}
#MainMenu {
    position: relative;
    width: 100%;
}
.atra {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.atra-logo {
    width: 60%;
    margin-top: var(--one-v-w);
    margin-left: var(--one-v-w);
}
.atra-name {
    display: block;
    font-size: var(--font-title);
    text-transform: uppercase;
    margin: auto;
}
.menu {
    position: relative;
    width: 100%;
}
.menu ul {
    margin: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: var(--font-menu);
    border-bottom: 0.1vw solid black;
}
.menu li {
    padding: var(--pad-menu) 0;
}
.menu a {
    width: 100%;
}

/* Banner */
.banner {
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: 5vw;
}
.banner-content {
    text-transform: uppercase;
    font-weight: 900;
}
.next .banner-track {
    background-color: aquamarine;
}
.today .banner-track {
    background-color: greenyellow;
}
.now .banner-track {
    background-color: red;
}
.next .banner-date {
    color: aquamarine;
    background-color: black;
}
.today .banner-date {
    color: greenyellow;
    background-color: black;
}
.now .banner-date {
    color: red;
    background-color: black;
}
.banner-track {
    width: 100%;
    position: relative;
    font-size: var(--font-track);
    overflow: hidden;
    white-space: nowrap;
    padding: var(--pad-banner) 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-track-space {
    width: var(--space-track);
}
.banner-track .banner-content {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-style: italic;
    white-space: nowrap;
    animation: banner-anim 12s infinite linear;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.banner-track .banner-content:nth-child(1) {
    animation-name: none;
    position: relative;
    animation: 5s banner-anim-intro;
}
.banner-track .banner-content:nth-child(3) {
    animation-delay: 4s;
}
.banner-track .banner-content:nth-child(4) {
    animation-delay: 8s;
}
@keyframes banner-anim-intro {
    0% {
        opacity: 1;
    }
    5% {
        opacity: 0.7;
    }
    10% {
        opacity: 1;
    }
    15% {
        opacity: 0.7;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes banner-anim {
    0% {
        margin-left: 100%;
        opacity: 1;
    }
    100% {
        margin-left: -100%;
        opacity: 1;
    }
}
.banner-date {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: var(--pad-banner) 0;
    background-color: rgba(255, 255, 255, 0.6);
}
.banner-date-left {
    font-size: var(--font-banner-left);
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.banner-date-right {
    margin: auto;
    height: 100%;
    font-size: var(--font-banner-right);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* Red Alert */
#RedAlert {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-size: 20vw;
    border: 1pt solid green;
    animation: hide-this 3s;
    z-index: -1;
    opacity: 0;
}
@keyframes hide-this {
    0%,
    50% {
        z-index: 3;
        opacity: 1;
    }
    95% {
        z-index: 3;
        opacity: 0;
    }
    100% {
        z-index: -1;
        opacity: 0;
    }
}
#RedAlert div {
    border: 3vw solid white;
    border-left-width: 0;
    border-right-width: 0;
    position: absolute;
    width: 70%;
    animation: red-alert-anim 2s;
}
@keyframes red-alert-anim {
    0% {
        width: 0%;
    }
    5% {
        width: 10%;
        border-top-width: 10vw;
        border-bottom-width: 10vw;
    }
    30% {
        width: 10%;
        height: 100%;
    }
    60% {
        width: 50%;
        height: 20%;
    }
    80%,
    95% {
        height: 20%;
        width: 100%;
    }
    100% {
        height: 20%;
        width: 0%;
    }
}
#RedAlert div:nth-child(1) {
    height: 20%;
}
#RedAlert div:nth-child(2) {
    height: 35%;
    animation-delay: 0.1s;
}
#RedAlert div:nth-child(3) {
    height: 50%;
    animation-delay: 0.2s;
}
#RedAlert div:nth-child(4) {
    height: 65%;
    animation-delay: 0.3s;
}
#RedAlert div:nth-child(5) {
    height: 80%;
    animation-delay: 0.4s;
}

/* Sections */
section {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    line-height: 1.25;
    margin: auto;
    margin-bottom: var(--section-margin);
    width: 90%;
}
.map img {
    position: relative;
    display: flex;
    margin: auto;
    width: var(--w-map);
}
.map::after {
    display: flex;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("images/FullMap.png");
    animation: 10s map-zoom infinite alternate-reverse;
}
@keyframes map-zoom {
    0% {
        background-size: 70%;
        background-position: 50%;
        filter: saturate(60%);
    }
    30% {
        background-size: 70%;
        background-position: 50%;
    }
    50% {
        background-size: 120%;
        background-position: 160% 95%;
    }
    80% {
        background-size: 120%;
        background-position: 160% 95%;
    }
    85% {
        background-size: 123%;
        background-position: 160% 100%;
    }
    100% {
        background-size: 70%;
        background-position: 50% 50%;
    }
}

.address {
    font-size: var(--font-address);
}
